@model SimpleShop.Models.OrderPart
@{
    Style.Include("SimpleShop.css");
    Script.Require("jQuery").AtHead();  
    Script.Include("jquery.validate.min.js").AtFoot();
    Script.Include("jquery.validate.unobtrusive.min.js").AtFoot();
}
<h2>Check out now</h2>
Please enter your details, and we'll ship your goods right away!
@using (Html.BeginForm("Checkout", "Order", 
    new { orderId = Model.ContentItem.Id,
          firstName = Model.FirstName,
          lastName = Model.LastName,
          line1 = Model.Line1,
          line2 = Model.Line2,
          postCode = Model.PostCode,
          city = Model.City,
          country = Model.Country,
          giftwrap = Model.GiftWrap    
    }, FormMethod.Post)) 
    
    {    
    
    @Html.ValidationSummary()
    <h3>Ship to</h3>
    <div>First Name: @Html.EditorFor(x => x.FirstName)</div>
    <div>Last Name: @Html.EditorFor(x => x.LastName)</div>       
    
    <h3>Address</h3>
    <div>Line 1: @Html.EditorFor(x => x.Line1)</div>
    <div>Line 2: @Html.EditorFor(x => x.Line2)</div>    
    <div>Postal code: @Html.EditorFor(x => x.PostCode)</div>
    <div>City: @Html.EditorFor(x => x.City)</div>
    <div>Country: @Html.EditorFor(x => x.Country)</div>
    
    <h3>Options:</h3>
    <label>
        @Html.EditorFor(x => x.GiftWrap)
        Gift wrap these items
    </label>
    <p align="center">
        <input class="actionButtons" type="submit" value="Complete and pay order" />
    </p>
}